html, 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ff-tisa-sans-web-pro, sans-serif;
    font-style: normal;
    font-weight: 100; 
}


.BackdroundCake {
    display: flex;
    
    justify-content: center;
    overflow: hidden; 
}
  
.BackdroundCake::before {
    content: "";
    position: absolute;
    background: url("../assets/untitled.png") no-repeat;
    background-size: cover;
    filter: blur(10px); /* Aplica o desfoque na imagem de fundo */
    z-index: -1;
    background-position: center;
    width: 100%;
    height: 100%;
    
}

.Text1 {
    margin-top: 300px;
    font-size: 150px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(233, 70, 181);
    user-select: none;
    top: 30px;
}

.Text1 span{
    color: transparent;
    font-size: 150px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 4px rgb(233, 70, 181);
    user-select: none;
}

.Text2 {
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a13030;
    user-select: none;
    margin-left: 30px;
}

.Text2 span{
    color: transparent;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 4px #a13030;
    user-select: none;

}